[submodule "dropcommander-translations-es"]
	path = docs/es
	url = https://github.com/isorna/dropcommander-translations-es.git
[submodule "dropcommander-translations-fr"]
	path = docs/fr
	url = https://github.com/isorna/dropcommander-translations-fr.git
[submodule "dropcommander-translations-en"]
	path = docs/en
	url = https://github.com/isorna/dropcommander-translations-en.git
