/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand: #2e8555;
  --vp-c-brand-light: #33925d;
  --menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(0,0,0,0.5)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
  --menu-link-sublist-icon-filter: none;
  --menu-link-sublist-icon-filter-dark: invert(100%) sepia(94%) saturate(17%) hue-rotate(223deg) brightness(104%) contrast(98%);
  --transition-fast: 200ms;
}

@media (max-width: 996px) {
  .container .aside {
    display: block;
    max-width: inherit;
    padding-left: 0;
    margin: 1rem 0;
    background-color: white;
    border-radius: 4px;
  }

  .dark .container .aside {
    background-color: rgb(27 27 29);
  }

  .container .aside-container {
    padding: 0;
    margin: 0;
    height: auto;
  }

  .container .aside-content {
    padding: 0;
    min-height: unset;
  }

  .container .aside .content {
    background-color: rgba(0 0 0 / %5);
    padding: 0;
    border: unset;
  }

  .dark .container .aside .content {
    background-color: rgba(0 0 100 / %5);
    color: white;
  }

  .container .aside .content .outline-title {
    padding: 0.4rem 0.8rem;
    color: rgb(28 30 33);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    outline: 1px solid transparent;
    cursor: pointer;
  }

  .dark .container .aside .content .outline-title {
    color: rgb(227 227 227);
  }

  .container .aside .content .outline-title::after {
    background: var(--menu-link-sublist-icon) 50% 50%/2rem 2rem no-repeat;
    content: '';
    filter: var(--menu-link-sublist-icon-filter);
    height: 1.25rem;
    transform: none;
    transition: transform var(--transition-fast);
    width: 1.25rem;
  }

  .dark .container .aside .content .outline-title::after {
    filter: var(--menu-link-sublist-icon-filter-dark);
  }

  .container .aside .content .outline-title:focus-within::after {
    transform: rotate(180deg);
    pointer-events: none;
  }

  .container .aside .content nav {
    padding: 0.2rem 0.8rem 0.4rem;
    border-top: 1px solid #dadde1;
    will-change: height;
    transition: height 292ms ease-in-out 0s;
    height: 0;
    overflow: hidden;
    display: none;
  }

  .dark .container .aside .content nav {
    border-top: 1px solid #606770;
  }

  .container .aside .content .outline-title:focus-within + nav {
    overflow: visible;
    height: auto;
    display: block;
  }

  .container .aside .content nav a {
    color: #525860;
  }

  .dark .container .aside .content nav a {
    color: rgb(82 88 96);
  }

  .container .aside .content nav a:hover {
    color: #2e8555;
  }
}